<header class="w-100 h-auto position-fixed bg-light py-3">
    <nav class="navbar navbar-expand-sm navbar-light py-0">
        <div class="container-fluid">
            <img src="../../assets/logo.svg" class="img-fluid" width="44" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-bold px-3" href="./">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold px-3" routerLink="./" fragment="about"
                            [class.active]="(activeFragment | async) === 'about'" (click)="onClick('about')">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold px-3" routerLink="./" fragment="features"
                            [class.active]="(activeFragment | async) === 'features'"
                            (click)="onClick('features')">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold px-3" routerLink="./" fragment="faq"
                            [class.active]="(activeFragment | async) === 'faq'" (click)="onClick('faq')">FAQ</a>
                    </li>
                </ul>
                <button class="btn btn-danger d-sm-inline d-none">Download App</button>
            </div>
        </div>
    </nav>
</header>